:root {
  /* Define Colors As Colors */
  --green: #61ff7e;
  --red: #ff3a20;
  --yellow: #fcca46;
  --black: #333;
  --blue: #29339b;
  --darkBlue: #091540;
  --gray: #969696;
  --lightGray: #fffbff;
  /* Define Colors As Intentions */
  --background: var(--lightGray);
  --textColor: var(--black);
}

body {
  background-color: var(--background);

  color: var(--textColor);
}
.dark {
  --textColor: var(--lightGray);
  --background: var(--black);
}

/* ===================
* Specificity Levels & Rules
  h1, div
  class, attribute
  ID's
  !important — Don't ever use
* Load Order
  - classes will override elements even if they are defined before
  - things added further down the page will generally take precedence over anything else
* Nesting
  - Nesting takes precedence over load order and single specificity
*/
